@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

nav{
    background: #236B8E;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
}
nav .wrapper{
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper .logo a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
}
.wrapper .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    background: #3A3B3C;
}
.nav-links .drop-menu{
    background: #242526;
    width: 210px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .job-box{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
.job-box{
    position: absolute;
    top: 85px;
    width: 100%;
    left: 0;
    padding: 0 30px;
    opacity: 0;
    visibility: hidden;
}
.job-box .content{
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}
.content .row img{
    width: 95%;
    height: 100%;
    object-fit: cover;
}
.content .row header{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}
.content .row .job-links{
    margin-left: -14px;
    border-left: 2px solid rgba(255, 255, 255, 0.09);
}
.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}
.row .job-links li{
    padding: 0 20px;
}
.row .job-links li a{
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}
.row .job-links li a:hover{
    color: #f2f2f2;
}

.nav-links .mobile-item{
    display: none;
}
.wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.wrapper .btn.cancel-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .wrapper .btn{
        display: block;
    }
    .wrapper .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background: #242526;
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(105, 65, 208, 0.15);
        transition: all 0.3s ease;
    }
    #menu-btn:checked ~ .nav-links{
        left: 0;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }
    .nav-links::-webkit-scrollbar{
        width: 0px;
    }
    .wrapper .nav-links li{
        margin: 15px 10px;
    }
    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu{
        position: static;
        opacity: 1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showJob:checked ~ .job-box{
        max-height: 100%;
    }
    .nav-links .drop-menu li{
        margin: 0;
    }
    .nav-links .drop-menu li a{
        font-size: 18px;
        border-radius: 5px;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobile-item{
        display: block;
        font-size: 20px;
        color: #f2f2f2;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
        background: #3A3B3C;
    }
    .job-box{
        position: static;
        top: 65px;
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .job-box .content{
        background: #242526;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .job-box .content .row{
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);
    }
    .job-box .content .row:nth-child(1),
    .job-box .content .row:nth-child(2){
        border-top: 0px;
    }
    .content .row .job-links{
        border-left: 0px;
        padding-left: 15px;
    }
    .row .job-links li{
        margin: 0;
    }
    .content .row header{
        font-size: 19px;
    }
}
.wrapper input{
    display: none;
}

.content-container, .footer-container, .slideshow-container{
    position: relative;
    max-width: 1250px;
    padding: 30px 30px;
    margin: auto;
}

.cards-container{
    /* display: flex;
    justify-content: space-between; */
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin-right: 20px;
}

.card:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .text_container {
padding: 20px 16px;
height: 100px;
}

.card .card-image {
    background-color: #ccc;
    height: 200px;
}

.card .card-footer{
    border-top: 1px solid #ccc;
    padding: 8px 16px;
}

.mySlides {
    display: none
}

/* Slideshow container */
.slideshow-container {
  max-width: 970px;
  position: relative;
  margin: auto;
  padding: 40px 0;
}

.slideshow-container img {
    vertical-align: middle;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .card-carousel .my-card {
    height: 20rem;
    width: 12rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #f5f6f7);
    transition: 1s;
  }

  .card-carousel .my-card:after {
    content: '0';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }

  .card-carousel .my-card:nth-child(0):before {
    content: '0';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(1):before {
    content: '1';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(2):before {
    content: '2';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(3):before {
    content: '3';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(4):before {
    content: '4';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(5):before {
    content: '5';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(6):before {
    content: '6';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(7):before {
    content: '7';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(8):before {
    content: '8';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card:nth-child(9):before {
    content: '9';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
  }

  .card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
  }

  .card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
  }

  .slider-item{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.slider-item .slider-image img{
    margin: 0 auto;
    width: 100%;
}
.slider-item .slider-main-detail{
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.slider-item:hover .slider-main-detail{
    background-color: #dbeeee !important;
}
.slider-item .price{
    float: left;
    margin-top: 5px;
}
.slider-item .price h5{
    line-height: 20px;
    margin: 0;
}
.detail-price{
    color: #219FD1;
}
.slider-item .slider-main-detail .rating{
    color: #777;
}
.slider-item .rating{
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}
.slider-item .btn-add{
    width: 50%;
    float: left;
    border-right: 1px solid #E1E1E1;
}
.slider-item .btn-details{
    width: 50%;
    float: left;
}
.controls{
    margin-top: 20px;
}
.btn-info,.btn-info:visited,.btn-info:hover{
	background-color: #ffffff;
	border-color: #000000;
}
.btn-info{
	margin-left:5px;
}
.slider-main-detail:hover{
	background-color: #dbeeee !important;
}
.AddCart{
	margin: 0px;
	padding:5px;
	border-radius:2px;
	margin-right:10px;
}
.review {
	margin-bottom: 5px;
	padding-top:5px;
}
.carousel-item {
    -webkit-perspective: initial;
    perspective: initial;
}

/* This is to make the image offset */
.carousel-item img {
    padding: 1rem;
    width:640px;
    height:360px;
  }
}

.carousel-panel,
.carousel-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
}

.carousel-panel {
    background-color: rgba(30,80,110,.334);
}
.carousel-overlay {
    /*
    Alternatively you could tint this, and
    remove the coloring from `.carousel-panel`
    */
    /*background-color: rgba(30,80,110,.334);*/
}

.carousel-control-prev,
.carousel-control-next {
    align-items: bottom;
}

